body {
    /* background-image: url('https://plus.unsplash.com/premium_photo-1720720425219-b903f7b367d3?fm=jpg&q=60&w=3000&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8N3x8Z2FsYXh5JTIwd2FsbHBhcGVyfGVufDB8fDB8fHww');
    background-size: contain;
    background-position: center; */
    background-color: #161313;
}

a {
    text-decoration: none;
    color: white;
}
nav {
    width: 96%;
    height: 10vh;
    border: 2px solid white;
    display: flex;
    /* justify-content: start; */
    /* justify-content: center; */
    /* justify-content: end; */
    /* justify-content: space-around; */
    justify-content: space-between;
    align-items: center;
    padding: 0% 2%;
}
ul {
    width: 30%;
    display: flex;
    /* border: 2px solid red; */
    justify-content: space-between;
}
.rect {
    width: 100%;
    height: 60vh;
    border: 2px solid white;
    margin-top: 1vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.ch1 {
    /* border: 2px solid red; */
    width: 11vw;
}
.ch1 button {
    height: 6vh;
    width: 7vw;
    margin: 0% 2vw;
    border-radius: 25px;
    font-size: 16px;
}
.ch1 h1 {
    /* font-size: 72px; */
    color: white;
}
.rect1 {
    width: 100%;
    height: 50vh;
    border: 2px solid white;
    margin-top: 1vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* flex-wrap: wrap; */
    flex-direction: column;
    gap: 1vh;
}
.ch2 {
    width: 55vw;
    height: 19vh;
    border: 2px solid white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    /* align-content: center; */
    align-items: center;
}
.ch2 h2 {
    color: white;
}
.ch3 {
    width: 60vw;
    height: 19vh;
    border: 2px solid white;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.ch3 .child {
    width: 10%;
    height: 80%;
    border: 2px solid white;
    border-radius: 5px;
}
.child img {
    width: 100%;
    height: 100%;
    border-radius: 2.7px;
}
.child:hover {
    /* flex-grow: 1; */
    /* flex-shrink: 1;
    width: 5%; */
    /* flex-basis: 15%; */
    align-self: center;
    width: 5%;
    height: 40%;
}

.frame{
    margin-top: 1vh;
    width: 100%;
    height: 40vh;
    border: 2px solid white;
    display:grid;
    grid-template-columns: repeat(2,49%);
    grid-template-rows: 100%;
    gap: 1%;
}

#fr1{
    display:grid;
    grid-template-columns: repeat(2,49%);
    grid-template-rows: 49%;
    gap: 1%;
}


.fr{
    border: 2px solid red;
}

.yoytube{
    border: 2px solid white;
}

.map{
    height: 100%;
    width: 100%;
    border: 2px solid white;
}

.map iframe{
    width: 100%;
    height: 100%;
}

.youtube iframe{
    width: 100%;
    height: 100%;
}

.pseudo {
    border: 2px solid white;
    width:97vw;
    height:60vh;
    margin-top: 1%;
    display: grid;
    grid-template-columns: repeat(2,49.5%);
    grid-template-rows: 99.5%;
 }

 #left{
    border: 2px solid red;
 }

#right{
    border: 2px solid red;
    display:grid;
    grid-template-columns: repeat(2,51%);
    grid-template-rows: 49.5% 49.5%;
    gap:1%
}

#right img{
    width: 100%;
    height: 100%;
}

#left h1, #left p {
    color: white;
    margin: 10vh 3vw;
}

p a{
    color: blue;
}

/* p a:link{
    color:yellow;
} */

/* p a:hover{
    color: balck;
    background-color: white;
} */

/* p a:active{
    color: red;
} */

/* p a:visited{
    color: rgb(40,231,91);
} */

#right img:nth-child(2) {
    box-shadow: 2px 2px 8px 5px greenyellow;
}

#left h1::first-letter{
    color: rgb(204,109,141);
}

#left p::selection{
    background-color: rgb rgb(217, 84, 106);
}

